---
layout: default
---

<div class="rezepte">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
 
  {{ content }}


   
  <form action="/action_page.php" method="get">
	<input type="checkbox" name="vehicle1" value="Bike">
	<label for="vehicle1"> I have a bike</label><br>
	<input type="checkbox" name="vehicle2" value="Car">
	<label for="vehicle2"> I have a car</label><br>
	<input type="checkbox" name="vehicle3" value="Boat" checked>
	<label for="vehicle3"> I have a boat</label><br><br>
	<input type="submit" value="Submit">
  </form>
  <br>
  
  {%- if site.posts.size > 0 -%}
<!--    <h2 class="post-list-heading">{{ page.list_title | default: "Rezepte:" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
		{%- if post.categories contains "rezept" -%}
			<li>
 			{%- assign date_format = site.minima.date_format | default: "%a, %d.%b.%Y" -%}
				<span class="post-meta">{{ post.date | date: date_format }}</span>
				<h3>
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
				</h3>
				{%- if site.show_excerpts -%}
				{{ post.excerpt }}
				{%- endif -%}
			</li>
		{%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
