---
layout: page
---

<div class="rezepte">
 
  {{ content }}


  {%- if site.posts.size > 0 -%}
<!--    <h2 class="post-list-heading">{{ page.list_title | default: "Rezepte:" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
		{%- if post.categories contains "rezept" -%}
		<li class="listing">
          <hr class="slender">
          <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="contrast">{{ post.title }}</h3></a>
          <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
        </li>
		{%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
